[submodule "pack/all_plugins/start/lightline.vim"]
	path = pack/all_plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/all_plugins/start/lightline-bufferline"]
	path = pack/all_plugins/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline
[submodule "pack/all_plugins/start/vim-devicons"]
	path = pack/all_plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/all_plugins/start/nerdtree"]
	path = pack/all_plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/all_plugins/start/vim-tex-fold"]
	path = pack/all_plugins/start/vim-tex-fold
	url = https://github.com/matze/vim-tex-fold
[submodule "pack/all_plugins/opt/Colorizer"]
	path = pack/all_plugins/opt/Colorizer
	url = https://github.com/chrisbra/Colorizer
[submodule "pack/all_plugins/opt/julia-vim"]
	path = pack/all_plugins/opt/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule "pack/all_plugins/start/SimpylFold"]
	path = pack/all_plugins/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "pack/all_plugins/start/vim-markdown"]
	path = pack/all_plugins/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/all_plugins/start/vim-signify"]
	path = pack/all_plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/all_plugins/start/vim-fugitive"]
	path = pack/all_plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
